#loginFormBorder{
    padding-top: 65;
    padding-left: 65;
    padding-right: 65;
    margin-top: 90;
    margin-bottom: 75;
    margin-left: 100;
    margin-right: 100;
}


#buttonYes{
    margin-right: 50;
}



