*{
  box-sizing: border-box; /*respect the width I give to elements - add padding and border within that*/
  margin:0;
  padding:0; 
  max-width: 100%; /*you can never be bigger than your parent element*/
  /* border:1px solid grey; */
}

body {
  background-color: #f5f5f5;
  font-size:1.6rem;
  line-height: 1.5; /*no need for unit of measurement - takes the font size - multiplies it by this number and adds space in between the lines*/
  background-color:#FFFAFA;
}

/* #main-content {
  max-width: 940px;
  padding: 2em 3em;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
} */